<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center sticky-top">
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/inicio" [routerLinkActive]="['activado']">INICIO</a>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                COMPUTADORAS
            </a>
            <div class="dropdown-menu" >
                <a class="dropdown-item" routerLink="/computadoras/alien">Alienware</a>
                <a class="dropdown-item" routerLink="/computadoras/asus">Asus Gaming</a>
                <a class="dropdown-item" routerLink="/computadoras/ss">Spaces Series</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                HARDWARE
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/hardware/Audio">Audio</a>
                <a class="dropdown-item" routerLink="/hardware/Pantalla">Pantallas</a>
                <a class="dropdown-item" routerLink="/hardware/Mouse">Mouses</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                ACCESORIOS
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/accesorios/Sillas">Sillas gamer</a>
                <a class="dropdown-item" routerLink="/accesorios/Mandos">Mandos</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/partes/Water Cooling">WATER COOLING</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/acerca">CONTACTOS</a>
        </li>
        <li class="nav-item" *ngIf="level=='A'" ><a class="nav-link text-light"  [routerLinkActive]="['activado']" routerLink="/usuarios"><b>USUARIOS</b></a></li>
        <li class="nav-item" *ngIf="level=='A'" ><a class="nav-link text-light"  [routerLinkActive]="['activado']" routerLink="/productos"><b>PRODUCTOS</b></a></li>
        <li class="nav-item" *ngIf="level=='A'" ><a class="nav-link text-light"  [routerLinkActive]="['activado']" routerLink="/subscriptores"><b>SUBSCRIPTORES</b></a></li>
    </ul>

</nav>
