<app-menu></app-menu>
<div class="container mt-3" >
    <div class="row">
        <div class="col-sm-8" ></div>
        <div class="col-sm-4">
            <form class="form-inline mt-3">
                <input class="form-control" type="text" name="buscar" placeholder="Buscar" (keyup)="buscarProductos()" [(ngModel)]="buscar">
                
                <button class="btn btn-info ml-1" (click)="buscarProductos()"><i class="fa fa-search mr-1"></i>Buscar</button>
            </form>
        </div>
    </div>
    

    <div class="row">
        <div class="col">
            <div class="text-center mb-3">
                <button type="button" class="btn btn-primary" id="entrar" data-toggle='modal' data-target='#nuevoProducto'>Nuevo producto</button>
            </div>
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Descripcion</th>
                        <th>Categoria</th>
                        <th>Vista previa</th>
                        <th></th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let producto of productos">
                        <td>{{producto.nombre_prod}}</td>
                        <td>{{producto.precio_prod}}</td>
                        <td>{{producto.desc_prod}}</td>
                        <td>{{producto.tipo_prod}}</td>
                        <td class=""><img src="{{producto.url_prod}}" class="zoom img-responsive" alt="" width="80px"></td>
                        <td>
                            <button class="btn btn-primary btn-sm mb-3" *ngIf="level=='A'"
                            (click)="temporalProducto(producto)" data-toggle='modal' data-target='#editarProducto'><i class="fas fa-pen"></i></button>
                        &nbsp;
                            <button class="btn btn-danger btn-sm" *ngIf="level=='A'"
                            (click)="temporalProducto(producto)" data-toggle='modal' data-target='#eliminarProducto'><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Para Nuevo Producto -->
<div class="modal fade" id="nuevoProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLongTitle">Nuevo Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Nombre:</div>
                    </div>
                    <input type="text" class="form-control" id="nombreNuevoProd" placeholder="Nombre del producto"
                        [(ngModel)]="nuevoProducto.nombre_prod">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Precio $:</div>
                    </div>
                    <input type="text" class="form-control" id="precioNuevoProd" placeholder="Precio del producto"
                        [(ngModel)]="nuevoProducto.precio_prod">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Categoria:</div>
                    </div>
                        <select class="form-control" id="sel1" [(ngModel)]="nuevoProducto.tipo_prod" name="sellist1">
                            <option>Computadora</option>
                            <option>Gabinete</option>
                            <option>Water Cooling</option>
                            <option>Accesorio</option>
                            <option>Hardware</option>
                        </select>
                    
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Marca/Tipo:</div>
                    </div>
                        <select class="form-control" id="sel1" [(ngModel)]="nuevoProducto.valor_prod" name="sellist1">
                            <option>Alienware</option>
                            <option>Asus Gaming</option>
                            <option>Spaces series</option>
                            <option>Mouse</option>
                            <option>Audio</option>
                            <option>Pantalla</option>
                            <option>Silla gamer</option>
                            <option>Mandos</option>
                            <option>Tarjeta de video</option>
                            <option>Otro</option>
                        </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Estado:</div>
                    </div>
                        <select class="form-control" id="sel1" [(ngModel)]="nuevoProducto.estado_prod" name="sellist1">
                            <option>Nuevo</option>
                            <option>Destacado</option>
                            <option>Mas vendido</option>
                            <option>Otro</option>
                        </select>
                    
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Descripcion:</div>
                    </div>
                    <textarea type="text" class="form-control" value="Sin descripcion" id="precioNuevoProd" placeholder="Descripcion del producto" [(ngModel)]="nuevoProducto.desc_prod"></textarea>
                    
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">URL imagen:</div>
                    </div>
                    <input type="url" class="form-control" value="../../assets/" id="urlNuevoProd" placeholder="URL del producto"
                        [(ngModel)]="nuevoProducto.url_prod">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="agregarProducto()">Agregar Producto</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Para Editar producto -->
<div class="modal fade" id="editarProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title text-center" id="exampleModalLongTitle">Editar Producto</h5>
                <div class="input-group mb-3 col-sm-6 text-center">
                    <div class="input-group-prepend" >
                        <div class="input-group-text">Id:</div>
                    </div>
                    <input type="text" class="form-control col-sm-2" size="5" id="nombreeditarProd"
                        [(ngModel)]="tmpProducto.id_prod" disabled>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Nombre:</div>
                    </div>
                    <input type="text" class="form-control" id="nombreeditarProd" placeholder="Nombre del producto"
                        [(ngModel)]="tmpProducto.nombre_prod">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Precio $:</div>
                    </div>
                    <input type="text" class="form-control" id="precioeditarProd" placeholder="Precio del producto"
                        [(ngModel)]="tmpProducto.precio_prod">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Categoria:</div>
                    </div>
                        <select class="form-control" id="sel1" [(ngModel)]="tmpProducto.tipo_prod" name="sellist1">
                            <option>Computadora</option>
                            <option>Gabinete</option>
                            <option>Water Cooling</option>
                            <option>Accesorio</option>
                            <option>Hardware</option>
                        </select>
                    
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Marca/Tipo:</div>
                    </div>
                        <select class="form-control" id="sel1" [(ngModel)]="tmpProducto.valor_prod" name="sellist1">
                            <option>Alienware</option>
                            <option>Asus Gaming</option>
                            <option>Spaces series</option>
                            <option>Mouse</option>
                            <option>Audio</option>
                            <option>Pantalla</option>
                            <option>Silla gamer</option>
                            <option>Mandos</option>
                            <option>Tarjeta de video</option>
                            <option>Otro</option>
                        </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Estado:</div>
                    </div>
                        <select class="form-control" id="sel1" [(ngModel)]="tmpProducto.estado_prod" name="sellist1">
                            <option>Nuevo</option>
                            <option>Destacado</option>
                            <option>Mas vendido</option>
                            <option>Otro</option>
                        </select>
                    
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Descripcion:</div>
                    </div>
                    <textarea type="text" class="form-control" id="precioNuevoProd" placeholder="Descripcion del producto" [(ngModel)]="tmpProducto.desc_prod"></textarea>
                    
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">URL imagen:</div>
                    </div>
                    <input type="url" class="form-control" value="../../assets/" id="urleditarProd" placeholder="URL del producto"
                        [(ngModel)]="tmpProducto.url_prod">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="guardarCambios()">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Para Eliminar -->
<div class="modal fade" id="eliminarProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que quiere eliminar el producto {{tmpProducto.nombre_prod}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="confirmarEliminar()">Si</button>
            </div>
        </div>
    </div>
</div>
