<app-menu></app-menu>
<br>
<div class="container-fluid justify-content-center rounded mt-3 shadow">

    <div class="container justify-content-center" >
        <h2>Historia</h2>
        <br>
        <p style="text-align: justify;">TECNOJAGUARS-PC es una empresa que nace para cubrir la necesidad de la población
            que adquiere productos
            tecnológicos, ya sea para armar su propio equipo de cómputo o simplemente comprar un nuevo accesorio.</p>
        <p style="text-align: justify;">Por lo que a principios del mes de Mayo de 2020, como parte de la materia de
            Diseño de Interfaz impartida en
            el Tecnológico
            Nacional De México Campus Ciudad Hidalgo, en el sexto semestre de la carrera de ingeniería en sistemas
            computacionales, se les asigna crear un proyecto de realizar un sitio web a base de una empresa ya sea
            propia o existente.</p>
        <p style="text-align: justify;">Por lo que alumnos de ese semestre deciden lleva acabo una empresa llamada
            TECNOJAGUARS-PC para así, al mismo
            tiempo, poder crear el sitio web.
            El objetivo principal es la venta y distribución de accesorios y equipo tecnológico, como lo son partes de
            computadora, ya que actualmente la venta a través de internet ha incrementado y es una forma sencilla de
            poder adquirir productos.
        </p>
        <BR>
    </div>
    <br id="tienda">
    <br>
    <br>
    <div class="container justify-content-center">
        <h2>Ubicación</h2>
        <br>
        <p style="text-align: justify;">TECNOJAGUARS-PC actualmente se encuentra localizado en
             Av. Ing. Carlos Rojas Gutiérrez 2120, Fracc. Valle De La Herradura, 61100 Cd Hidalgo, Mich.</p>
             <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3756.084134842491!2d-100.51967298561368!3d19.709041836891018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d2c96863056895%3A0xca9e49c6afaff57b!2sInstituto%20Tecnol%C3%B3gico%20Superior%20De%20Ciudad%20Hidalgo!5e0!3m2!1ses!2sus!4v1590980837366!5m2!1ses!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
    </div>
    <br>
    <br>
   
    <br>
    <div class="container justify-content-center">
        <h2>Vision</h2>
        <br>
        <p style="text-align: justify;">
            Ser una empresa de referencia, que camina con el cambio de la tecnología y la sociedad, dando a conocer
            productos actuales
            e innovadores que atienden a las necesidades de los clientes
            y así ser un aliado estratégico para nuestros
            clientes sobre la base de nuestra responsabilidad, calidad y compromiso
        </p>
        <br>
        <br>
        <h2>Misión</h2>
        <br>
        <p style="text-align: justify;">Ser una empresa innovadora y con gran sentido de responsabilidad social que
            busca el máximo beneficio
            de nuestros clientes a través de la calidad de nuestros productos. Proporcionar las tecnologías más
            innovadoras
            a acorde a las necesidades personales.</p>
        <br id="acerca">
        <br>
        <br>

    </div>

</div><br><br>