<app-menu></app-menu>
<!DOCTYPE html>
<html lang="en">
<head>
    
</head>


<body>
    <!--carrousel-->

    <div class="container rounded mt-3 shadow ">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- Indicadores -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>            
            </ul>
            <!-- Las Diapositivas -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="perifericos.html"><img src="../../assets/img/banners/banner1.png" alt="carrusel 1" width="1200" height="380">
                    </a>
                    </div>
                <div class="carousel-item">
                    <a href="accesorios.html"><img src="../../assets/img/banners/banner2.png" alt="carrusel 2" width="1200" height="380">
                </a>
                </div>
                <div class="carousel-item">
                    <a href="computadoras.html"><img src="../../assets/img/banners/banner3.png" alt="carrusel 3" width="1200" height="380">
               </a>
                    </div>
            </div>
            <!-- Controles de Izquierda y Derecha -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!--columnas menu alterno-->
    <div class="row" style="font-family: 'Arial'; font-size: 12px; ">
        <div class="col-sm-2" align="center">
            <a title="computadoras" href="computadoras.html">
                <img src="../../assets/img/submenu/computadora.png" class="zoom img-responsive" alt="titulo" style="width:110px;" />
                <br>
                <br>
                <p>COMPUTADORAS</p>
            </a>
        </div>
        <div class="col-sm-2" align="center">
            <a title="computadoras" href="gabinetes.html">
                <img src="../../assets/img/submenu/gabinete.png" class="zoom img-responsive" alt="titulo" style="width:54px;" />
                <br>
                <br>
                <p>GABINETES</p>
            </a>
        </div>
        <div class="col-sm-2" align="center">
            <a title="computadoras" href="cooler.html">
                <img src="../../assets/img/submenu/cooler.png" class="zoom img-responsive" alt="titulo" style="width:100px;" />
                <br>
                <br>
                <br>
                <p>WATER COOLING</p>
            </a>
        </div>
        <div class="col-sm-2" align="center">
            <a title="computadoras" href="tarjetas.html">
                <img src="../../assets/img/submenu/tarjeta.png" class="zoom img-responsive" alt="titulo" style="width:110px;" />
                <br>
                <br>
                <p>TARJETAS DE VIDEO</p>
            </a>
        </div>
        <div class="col-sm-2" align="center">
            <a title="computadoras" href="perifericos.html">
                <img src="../../assets/img/submenu/perfifericos.png" class="zoom img-responsive" alt="titulo" style="width:85px;" />
                <br>
                <br>
                <p>PERIFERICOS</p>
            </a>
        </div>
        <div class="col-sm-2" align="center">
            <a title="computadoras" href="accesorios.html">
                <img src="../../assets/img/submenu/silla.png" class="zoom img-responsive" alt="titulo" style="width:70px;" />
                <br>
                <br>
                <p>ACCESORIOS</p>
            </a>
        </div>
    </div>
    <div class="row">
    </div>
    <br>
    <br>
    <section>
        <!--TABS PRODUCTOS-->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">PRODUCTOS NUEVOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                    aria-controls="profile" aria-selected="false">LO MAS VENDIDO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                    aria-controls="contact" aria-selected="false">PRODUCTOS DESTACADOS</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="wrap">
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/alien/alien1.png);">
                            </div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>ALIENWARE AURORA</h8> -->
                                    <br>
                                    <br>
                                    <li>Intel® Core™ i3-9100 de 9.ª</li>
                                    <li>Windows 10 Home de 64 bitS</li>
                                    <li>Memoria HyperX™ FURY DDR4 y 8 GB</li>
                                    <li>GeForce GTX® 1650 con memoria GDDR5 de 4 GB</li>
                                    <form id="btn1">
                                        <div class="form-group" style="margin-top: 50px;">
                                            <button type="submit" class="btn btn-primary btn-xs"><i
                                                    class="fas fa-credit-card"></i> Añadir</button>
                                        </div>
                                    </form>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/acces/2.png);"></div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>HEADSET BLUE NACEB</h8> -->
                                    <br>
                                    <!-- <h9>$ 2461031.50</h9> -->
                                    <br>
                                    <br>
                                    <form id="btn2">
                                        <div class="form-group" style="margin-top: 50px;">
                                            <button type="submit" class="btn btn-primary btn-xs"><i
                                                    class="fas fa-credit-card"></i> Añadir</button>
                                        </div>
                                    </form>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/gabinetes/6.jpg);">
                            </div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>MULTI RGB GABINETE</h8> -->
                                    <br>
                                    <!-- <h9>$ 61031.50</h9> -->
                                    <br>
                                    <br>
                                    <LI>kit multi RGB incluido, espacio para grandes fuentes y el mejor water cooler de su preferencia
                                        mothersboard mas seguras
                                    </LI>
                                    <form id="btn3">
                                        <div class="form-group" style="margin-top: 50px;">
                                            <button type="submit" class="btn btn-primary btn-xs"><i
                                                    class="fas fa-credit-card"></i> Añadir</button>
                                        </div>
                                    </form>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/coolers/4.png);">
                            </div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>Fan con disipador</h8> -->
                                    <br>
                                    <!-- <h9>$ 1031.50</h9> -->
                                    <br>
                                    <br>
                                    <li>Disipador de la marca Corsair</li>
                                    <form id="btn4">
                                        <div class="form-group" style="margin-top: 50px;">
                                            <button type="submit" class="btn btn-primary btn-xs"><i
                                                    class="fas fa-credit-card"></i> Añadir</button>
                                        </div>
                                    </form>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
<!--cada 4-->
                <div class="wrap">
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/gabinetes/3.png);">
                            </div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>NACEB CPU RED</h8> -->
                                    <br>
                                    <!-- <h9>$ 5000</h9> -->
                                    <br>
                                    <br>
                                    <li>Soporte en placas atx.</li>
                                    <form id="btn5">
                                        <div class="form-group" style="margin-top: 50px;">
                                            <button type="submit" class="btn btn-primary btn-xs"><i
                                                    class="fas fa-credit-card"></i> Añadir</button>
                                        </div>
                                    </form>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/coolers/2.png);">
                            </div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>Water Cooler Corsair</h8> -->
                                    <br>
                                    <!-- <h9>$ 2431.50</h9> -->
                                    <br>
                                    <br>
                                    <li>Ventilador corsair con disipador</li>
                                    <li>Enfriamiento liquido permitido</li>
                                    <form id="btn6">
                                        <div class="form-group" style="margin-top: 50px;">
                                            <button type="submit" class="btn btn-primary btn-xs"><i
                                                    class="fas fa-credit-card"></i> Añadir</button>
                                        </div>
                                    </form>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/tarjetas/4.png);"></div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>VEGANCE 2X8GB</h8> -->
                                    <br>
                                    <!-- <h9>$ 4800</h9> -->
                                    <br>
                                    <br>
                                    <form id="btn7">
                                        <div class="form-group" style="margin-top: 50px;">
                                            <button type="submit" class="btn btn-primary btn-xs"><i
                                                    class="fas fa-credit-card"></i> Añadir</button>
                                        </div>
                                    </form>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/acces/10.png);">
                            </div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>SILLA VERDE</h8> -->
                                    <br>
                                    <!-- <h9>$ 2461031.50</h9> -->
                                    <br>
                                    <br>
                                    <form id="btn8">
                                        <div class="form-group" style="margin-top: 50px;">
                                            <button type="submit" class="btn btn-primary btn-xs"><i
                                                    class="fas fa-credit-card"></i> Añadir</button>
                                        </div>
                                    </form>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
<!--cada 4-->
                <div class="wrap">
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/acces/8.png);">
                            </div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>SILLA NARANJA</h8> -->
                                    <br>
                                    <!-- <h9>$ 2461031.50</h9> -->
                                    <br>
                                    <br>
                                    <form id="btn9">
                                        <div class="form-group" style="margin-top: 50px;">
                                            <button type="submit" class="btn btn-primary btn-xs"><i
                                                    class="fas fa-credit-card"></i> Añadir</button>
                                        </div>
                                    </form>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/asus/3.png);"></div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>ASUS n56jr-ds71-ca</h8> -->
                                    <br>
                                    <!-- <h9>$ 2461031.50</h9> -->
                                    <br>
                                    <br>
                                    <li>Intel® Core™ i3-9100 de 9.ª</li>
                                    <li>Windows 10 Home de 64 bitS</li>
                                    <li>Memoria HyperX™ FURY DDR4 y 8 GB</li>
                                    <li>GeForce GTX® 1650 con memoria GDDR5 de 4 GB</li>
                                    <form id="btn10">
                                        <div class="form-group" style="margin-top: 50px;">
                                            <button type="submit" class="btn btn-primary btn-xs"><i
                                                    class="fas fa-credit-card"></i> Añadir</button>
                                        </div>
                                    </form>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/acces/5.png);"></div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>HEADSET ROJOS MARS</h8> -->
                                    <br>
                                    <!-- <h9>$ 2461031.50</h9> -->
                                    <br>
                                    <br>
                                    <form id="btn11">
                                        <div class="form-group" style="margin-top: 50px;">
                                            <button type="submit" class="btn btn-primary btn-xs"><i
                                                    class="fas fa-credit-card"></i> Añadir</button>
                                        </div>
                                    </form>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/tarjetas/5.png);"></div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>NACEB TECNO 8 GB</h8> -->
                                    <br>
                                    <!-- <h9>$ 4103</h9> -->
                                    <br>
                                    <br>
                                    <form id="btn12">
                                        <div class="form-group" style="margin-top: 50px;">
                                            <button type="submit" class="btn btn-primary btn-xs"><i
                                                    class="fas fa-credit-card"></i> Añadir</button>
                                        </div>
                                    </form>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
<!--cada 4-->
            </div>

            <!--Inicia uno nuevo -->
            <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="wrap">
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/gabinetes/2.png);">
                            </div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>BLUE GAMING CPU</h8> -->
                                    <br>
                                    <!-- <h9>$ 3800</h9> -->
                                    <br>
                                    <br>
                                    <LI>Cristal templado, tres coolers incluidos</LI>
                                    <div class="form-group" style="margin-top: 50px;">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/gabinetes/1.png);">
                            </div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>NACEB ATX ROJO</h8> -->
                                    <br>
                                    <!-- <h9>$ 2413.50</h9> -->
                                    <br>
                                    <br>
                                    <li>RGB ROJO FRONTAL USB Y AUDIO.</li>
                                    <div class="form-group" style="margin-top: 50px;">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/coolers/3.png);">
                            </div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>Ventilador NZXT</h8> -->
                                    <br>
                                    <!-- <h9>$ 2431.50</h9> -->
                                    <br>
                                    <br>
                                    <li>Excelente ventilador 4 tiempos con luz RGB</li>
                                    <li>Multicolor con una excelente iluminacion de tu PC</li>
                                    <div class="form-group" style="margin-top: 50px;">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/tarjetas/4.png);"></div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>VEGANCE 2X8GB</h8> -->
                                    <br>
                                    <!-- <h9>$ 4800</h9> -->
                                    <br>
                                    <br>
                                    <div class="form-group" style="margin-top: 50px;">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
<!--cada 4-->
                <div class="wrap">
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/acces/1.png);"></div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>MANDO PLAY</h8> -->
                                    <br>
                                    <!-- <h9>$ 2000</h9> -->
                                    <br>
                                    <br>
                                    <div class="form-group" style="margin-top: 50px;">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/asus/1.png);"></div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>ASUS Q504UA 2</h8> -->
                                    <br>
                                    <!-- <h9>$ 2461031.50</h9> -->
                                    <br>
                                    <br>
                                    <li>Intel Core i7 Gen 8th</li>
                                    <li>Windows 10 Home de 64 bitS</li>
                                    <li>8GB RAM</li>
                                    <li>1TB DD + 128GB SSD</li>
                                    <div class="form-group" style="margin-top: 50px;">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/hardware/2.png);"></div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>PANTALLA ASUS ROG</h8> -->
                                    <br>
                                    <!-- <h9>$ 2458</h9> -->
                                    <br>
                                    <br>
                                    <div class="form-group" style="margin-top: 50px;">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/coolers/2.png);">
                            </div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>Water Cooler Corsair</h8> -->
                                    <br>
                                    <!-- <h9>$ 2431.50</h9> -->
                                    <br>
                                    <br>
                                    <li>Ventilador corsair con disipador</li>
                                    <li>Enfriamiento liquido permitido</li>
                                    <div class="form-group" style="margin-top: 50px;">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
<!--cada 4-->
                <div class="wrap">
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/asus/2.png);"></div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>ASUS ROG gl552</h8> -->
                                    <br>
                                    <!-- <h9>$ 2461031.50</h9> -->
                                    <br>
                                    <br>
                                    <li>Intel® Core™ i3-9100 de 9.ª</li>
                                    <li>Windows 10 Home de 64 bitS</li>
                                    <li>Memoria HyperX™ FURY DDR4 y 8 GB</li>
                                    <li>GeForce GTX® 1650 con memoria GDDR5 de 4 GB</li>
                                    <div class="form-group" style="margin-top: 50px;">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/hardware/11.png);"></div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>PANTALLA ASUS EDITION ESTRAL</h8> -->
                                    <br>
                                    <!-- <h9>$ 41031</h9> -->
                                    <br>
                                    <br>
                                    <div class="form-group" style="margin-top: 50px;">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/acces/2.jpg);"></div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>TECKNET Ratón Inalámbrico Bluetooth</h8> -->
                                    <br>
                                    <!-- <h9>$ 379.13</h9> -->
                                    <br>
                                    <br>
                                    <li>Mouse Inalámbrico Bluetooth, 3000DPI 5 Niveles 
                                        Ajustable Compatible con Laptop, PC, Ordenador, Chromebook, 
                                        Notebook 24 Meses Duración de Batería</li>
                                    <div class="form-group" style="margin-top: 50px;">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/acces/10.png);">
                            </div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>SILLA VERDE</h8> -->
                                    <br>
                                    <!-- <h9>$ 2461031.50</h9> -->
                                    <br>
                                    <br>
                                    <div class="form-group" style="margin-top: 50px;">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
<!--cada 4-->
            </div>

            <!--Uno nuevo-->
            <div class="tab-pane fade show" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="wrap">
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/hardware/1.jpeg);"></div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>Logitech G403 Hero Mouse Gaming</h8> -->
                                    <br>
                                    <!-- <h9>$ 779.52</h9> -->
                                    <br>
                                    <br>
                                    <li>Sensor HERO 16K de próxima generación, 
                                        nuestro sensor más avanzado, con seguimiento 
                                        1:1, 400+ IPS y una sensibilidad máxima
                                         de 100-16.000 dpi.</li>
                                    <div class="form-group" style="margin-top: 50px;">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                    </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/spaces/1.jpg);"></div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>SPACES PEGASO</h8> -->
                                    <br>
                                    <!-- <h9>$ 2461031.50</h9> -->
                                    <br>
                                    <br>
                                    <li>Intel® Core™ i3-9100 de 9.ª</li>
                                    <li>Windows 10 Home de 64 bitS</li>
                                    <li>Memoria HyperX™ FURY DDR4 y 8 GB</li>
                                    <li>GeForce GTX® 1650 con memoria GDDR5 de 4 GB</li>
                                    <div class="form-group" style="margin-top: 50px;">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/acces/10.png);">
                            </div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>SILLA VERDE</h8> -->
                                    <br>
                                    <!-- <h9>$ 2461031.50</h9> -->
                                    <br>
                                    <br>
                                    <div class="form-group" style="margin-top: 50px;">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/gabinetes/3.png);">
                            </div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>NACEB CPU RED</h8> -->
                                    <br>
                                    <!-- <h9>$ 5000</h9> -->
                                    <br>
                                    <br>
                                    <li>Soporte en placas atx.</li>
                                    <div class="form-group" style="margin-top: 50px;">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
<!--cada 4-->
                <div class="wrap">
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/coolers/1.png);">
                            </div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>Cooler master</h8> -->
                                    <br>
                                    <!-- <h9>$ 4611.50</h9> -->
                                    <br>
                                    <br>
                                    <li>Cooler con disipador aliance </li>
                                    <div class="form-group" style="margin-top: 50px;">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/acces/3.jpg);"></div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>VicTsing Ratón Bluetooth Inalámbrico</h8> -->
                                    <br>
                                    <!-- <h9>$ 393.91</h9> -->
                                    <br>
                                    <br>
                                    <li>Mouse Inalámbrico Bluetooth, 3000DPI 
                                        5 Niveles Ajustable Compatible con Laptop, 
                                        PC, Ordenador, Chromebook, Notebook 24 Meses Duración de Batería</li>
                                    <div class="form-group" style="margin-top: 50px;">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                    </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/acces/8.png);">
                            </div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>SILLA NARANJA</h8> -->
                                    <br>
                                    <!-- <h9>$ 2461031.50</h9> -->
                                    <br>
                                    <br>
                                    <div class="form-group" style="margin-top: 50px;">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/spaces/2.jpg);"></div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>SPACES PIXIS</h8> -->
                                    <br>
                                    <!-- <h9>$ 2461031.50</h9> -->
                                    <br>
                                    <br>
                                    <li>Intel® Core™ i3-9100 de 9.ª</li>
                                    <li>Windows 10 Home de 64 bitS</li>
                                    <li>Memoria HyperX™ FURY DDR4 y 8 GB</li>
                                    <li>GeForce GTX® 1650 con memoria GDDR5 de 4 GB</li>
                                    <div class="form-group" style="margin-top: 50px;">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
<!--cada 4-->
                <div class="wrap">
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/acces/10.png);">
                            </div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>SILLA VERDE</h8> -->
                                    <br>
                                    <!-- <h9>$ 2461031.50</h9> -->
                                    <br>
                                    <br>
                                    <div class="form-group" style="margin-top: 50px;">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/tarjetas/5.png);"></div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>NACEB TECNO 8 GB</h8> -->
                                    <br>
                                    <!-- <h9>$ 4103</h9> -->
                                    <br>
                                    <br>
                                    <div class="form-group" style="margin-top: 50px;" *ngIf="level=='U'">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/gabinetes/2.png);">
                            </div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>BLUE GAMING CPU</h8> -->
                                    <br>
                                    <!-- <h9>$ 3800</h9> -->
                                    <br>
                                    <br>
                                    <LI>Cristal templado, tres coolers incluidos</LI>
                                    <div class="form-group" style="margin-top: 50px;">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="adelante"
                                style="background-size: cover; background-image: url(../../assets/img/productos/hardware/11.png);"></div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    <!-- <h8>PANTALLA ASUS EDITION ESTRAL</h8> -->
                                    <br>
                                    <!-- <h9>$ 41031</h9> -->
                                    <br>
                                    <br>
                                    <div class="form-group" style="margin-top: 50px;">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--cada 4-->
        </div>
        </div>
    </section>
    <br>


    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" >
                <div class="wrap" *ngFor="let producto of productos; let i=index">
                    <div class="tarjeta-wrap" >
                        <div class="tarjeta" >
                            <div class="adelante"
                                style="background-size: cover; background-image: url({{producto.url_prod}});"></div>
                            <div class="atras">
                                <ul style="padding: 10px;">
                                    {{producto.nombre_prod}}
                                    <br>
                                        {{producto.precio_prod}}
                                        {{producto.desc_prod}}
                                        {{i}}
                                    <br>
                                    <br>
                                    <div class="form-group" style="margin-top: 50px;" *ngIf="level=='U'">
                                        <button type="submit" class="btn btn-primary btn-xs"><i
                                                class="fas fa-credit-card"></i> Añadir</button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- Lo mas vendido-->
        <div class="tab-pane fade show active" id="profile-tab" role="tabpanel" aria-labelledby="profile-tab" >
            <div class="row" >
                <div class="col-sm-2">
                    <table class="table table-hover table-dark">
                        <thead>
                            <tr>
                                <th>UNOOOOO</th>
                                <th>DOSSSSS</th>
                                <th>TRESSSS</th>
                                <th>CUATROO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr > 
                                <div >
                                    <td *ngFor="let producto of productos; let i=index">
                                        <div class="tarjeta-wrap" >
                                            <p>{{i}}</p>
                                                <div class="tarjeta">
                                                        <div class="adelante"
                                                            style="background-size: cover; background-image: url({{producto.url_prod}});"></div>
                                                        <div class="atras">
                                                            <ul style="padding: 10px;">
                                                                {{producto.nombre_prod}}
                                                                <br>
                                                                    {{producto.precio_prod}}
                                                                    {{producto.desc_prod}}
                                                                    {{i}}
                                                                <br>
                                                                <br>
                                                                <div class="form-group" style="margin-top: 50px;" *ngIf="level=='U'">
                                                                    <button type="submit" class="btn btn-primary btn-xs"><i
                                                                            class="fas fa-credit-card"></i> Añadir</button>
                                                                </div>
                                                            </ul>
                                                        </div> 
                                                </div>
                                        </div>
                                    </td>
                                </div>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>
                
            </div>
            
    </div>  
    </div>


</body>
</html>