<app-menu></app-menu>
    <!--carrousel-->
    <div class="container rounded mt-3 shadow ">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- Indicadores -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>            
            </ul>
            <!-- Las Diapositivas -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="perifericos.html"><img src="../../assets/img/banners/banner1.png" alt="carrusel 1" width="1200" height="380">
                    </a>
                    </div>
                <div class="carousel-item">
                    <a href="accesorios.html"><img src="../../assets/img/banners/banner2.png" alt="carrusel 2" width="1200" height="380">
                </a>
                </div>
                <div class="carousel-item">
                    <a href="computadoras.html"><img src="../../assets/img/banners/banner3.png" alt="carrusel 3" width="1200" height="380">
               </a>
                    </div>
            </div>
            <!-- Controles de Izquierda y Derecha -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!--columnas menu alterno-->
    <div class="container-fluid">
        <div class="row" style="font-family: 'Arial'; font-size: 12px; ">
            <div class="col-sm-2" align="center">
                <a title="computadoras" href="computadoras.html">
                    <img src="../../assets/img/submenu/computadora.png" class="zoom img-responsive" alt="titulo" style="width:110px;" />
                    <br>
                    <br>
                    <p>COMPUTADORAS</p>
                </a>
            </div>
            <div class="col-sm-2" align="center">
                <a title="computadoras" href="gabinetes.html">
                    <img src="../../assets/img/submenu/gabinete.png" class="zoom img-responsive" alt="titulo" style="width:54px;" />
                    <br>
                    <br>
                    <p>GABINETES</p>
                </a>
            </div>
            <div class="col-sm-2" align="center">
                <a title="computadoras" href="cooler.html">
                    <img src="../../assets/img/submenu/cooler.png" class="zoom img-responsive" alt="titulo" style="width:100px;" />
                    <br>
                    <br>
                    <br>
                    <p>WATER COOLING</p>
                </a>
            </div>
            <div class="col-sm-2" align="center">
                <a title="computadoras" href="tarjetas.html">
                    <img src="../../assets/img/submenu/tarjeta.png" class="zoom img-responsive" alt="titulo" style="width:110px;" />
                    <br>
                    <br>
                    <p>TARJETAS DE VIDEO</p>
                </a>
            </div>
            <div class="col-sm-2" align="center">
                <a title="computadoras" href="perifericos.html">
                    <img src="../../assets/img/submenu/perfifericos.png" class="zoom img-responsive" alt="titulo" style="width:85px;" />
                    <br>
                    <br>
                    <p>PERIFERICOS</p>
                </a>
            </div>
            <div class="col-sm-2" align="center">
                <a title="computadoras" href="accesorios.html">
                    <img src="../../assets/img/submenu/silla.png" class="zoom img-responsive" alt="titulo" style="width:70px;" />
                    <br>
                    <br>
                    <p>ACCESORIOS</p>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
    <br>
    <br>
    <section>
        <!--TABS PRODUCTOS-->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">PRODUCTOS NUEVOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                    aria-controls="profile" aria-selected="false">LO MAS VENDIDO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                    aria-controls="contact" aria-selected="false">PRODUCTOS DESTACADOS</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="container-fluid rounded mt-3 shadow ">
                    <div class="row">
                        <div class="col" align="center" *ngFor="let producto of productos; let i=index">
                           
                                <div class="tarjeta-wrap" >
                                    <div class="tarjeta" >
                                        <div class="adelante"
                                            style="background-size: cover; background-image: url({{producto.url_prod}});"></div>
                                        <div class="atras ">
                                            <ul style="padding: 10px;" class="text-center">
                                                <h6>{{producto.nombre_prod}}</h6>
                                                <br>
                                                    <p [style.color]="'white'" class="text-center"><b>$ {{producto.precio_prod}}</b></p>
                                                    <p *ngIf="producto.desc_prod !='Sin descripcion'">{{producto.desc_prod}}</p>
                                                <br>
                                                <br>
                                                <div class="form-group" style="margin-top: 50px;" *ngIf="level=='U'">
                                                    <div *ngIf="existe(producto)" class="text-success text-center"> <h4>!!Ya en tu carrito!!</h4></div>
                                                    <div *ngIf="!existe(producto)"><button type="submit" class="btn btn-primary btn-xs" (click)="agregarCarrito(producto)"><i
                                                            class="fas fa-credit-card" ></i> Añadir</button></div>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
<!--cada 4-->
            </div>

            <!--Inicia uno nuevo -->
            <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="container-fluid rounded mt-3 shadow ">
                    <div class="row">
                        <div class="col" *ngFor="let producto of productos; let i=index">
                           
                                <div class="tarjeta-wrap" >
                                    <div class="tarjeta" >
                                        <div class="adelante"
                                            style="background-size: cover; background-image: url({{producto.url_prod}});"></div>
                                        <div class="atras">
                                            <ul style="padding: 10px;" class="text-center">
                                                <h6>{{producto.nombre_prod}}</h6>
                                                <br>
                                                    <p [style.color]="'white'" class="text-center"><b>$ {{producto.precio_prod}}</b></p>
                                                    <p *ngIf="producto.desc_prod !='Sin descripcion'">{{producto.desc_prod}}</p>
                                                <br>
                                                <br>
                                                <div class="form-group" style="margin-top: 50px;" *ngIf="level=='U'">
                                                    <div *ngIf="existe(producto)" class="text-success text-center"> <h4>!!Ya en tu carrito!!</h4></div>
                                                    <div *ngIf="!existe(producto)"><button type="submit" class="btn btn-primary btn-xs" (click)="agregarCarrito(producto)"><i
                                                            class="fas fa-credit-card" ></i> Añadir</button></div>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
<!--cada 4-->
            </div>

            <!--Uno nuevo-->
            <div class="tab-pane fade show" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="container-fluid rounded mt-3 shadow ">
                    <div class="row">
                        <div class="col text-center " *ngFor="let producto of productos; let i=index">
                                <div class="tarjeta-wrap" >
                                    <div class="tarjeta" >
                                        <div class="adelante"
                                            style="background-size: cover; background-image: url({{producto.url_prod}});"></div>
                                        <div class="atras">
                                            <ul style="padding: 10px;" class="text-center">
                                                <h6>{{producto.nombre_prod}}</h6>
                                                <br>
                                                    <p [style.color]="'white'" class="text-center"><b>$ {{producto.precio_prod}}</b></p>
                                                    <p *ngIf="producto.desc_prod !='Sin descripcion'">{{producto.desc_prod}}</p>
                                                <br>
                                                <br>
                                                <div class="form-group" style="margin-top: 50px;" *ngIf="level=='U'">
                                                    <div *ngIf="existe(producto)" class="text-success text-center"> <h4>!!Ya en tu carrito!!</h4></div>
                                                    <div *ngIf="!existe(producto)"><button type="submit" class="btn btn-primary btn-xs" (click)="agregarCarrito(producto)"><i
                                                            class="fas fa-credit-card" ></i> Añadir</button></div>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
                <!--cada 4-->
        </div>
    </div>
    </section>
    <br>

