
<div class="container rounded border mb-3 mt-3 shadow bg-white">
    <br>
    <br>
    <div class="text-center mb-4"><h2>Registrarse</h2></div>
    <div class="row justify-content-center">
        
        <div class="col-sm-3">
            <div class="form-group text-right pt-2 mt-1">
                <label for="usr"> Nombre:</label>

            </div>

            <div class="form-group text-right pt-2 mt-1">
                <label for="usr">Apellidos:</label>

            </div>
            <div class="form-group text-right pt-2 mt-2">
                <label for="usr">Email:</label>
            </div>

            <div class="form-group text-right pt-2 mt-4">
                <label for="usr">Usuario:</label>
            </div>

            <div class="form-group text-right pt-2 mt-4">
                <label for="usr">Contraseña:</label>

            </div>

        </div>
        <!-- Columna de 10 con  el formulario -->
        <div class="col-sm-6">

            <form #formRegistro="ngForm"  >
                <div class="form-row mb-4 ml-1">
                    <input type="text" class="form-control border border-dark col-sm-8" placeholder="Nombre" name="nombreusuario" required
                     [(ngModel)]="nuevoUser.nombre" #nombreusuario = "ngModel">
                     <span *ngIf="nombreusuario.touched && !nombreusuario.valid; then requerido"></span>
                    </div>
                <div class="form-row  mb-4 ml-1">
                    <input type="text" class="form-control border border-dark col-sm-8" placeholder="Apellidos" name="apellidousuario" required
                    [(ngModel)]="nuevoUser.apellidos" #apellidousuario = "ngModel">
                    <span *ngIf="apellidousuario.touched && !apellidousuario.valid; then requerido"></span>
                </div>
                <div class="form-row  mb-4 ml-1">
                    <input type="email" class="form-control border border-dark col-sm-8"  placeholder="Correo electronico" name="emailusuario" required
                    [(ngModel)]="nuevoUser.correo" #emailusuario = "ngModel">
                    <span *ngIf="emailusuario.touched && !emailusuario.valid; then requerido"></span>
                </div>
                <div class="input-group  mb-4 ml-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-user"></i></div>
                    </div>
                    <input type="text" class="form-control col-sm-6"  placeholder="Nombre de Usuario" name="'user'" required
                    [(ngModel)]="nuevoUser.user" #user = "ngModel" (keyup)="comprobarUsuarios()">
                    <span *ngIf="user.touched && !user.valid; then requerido"  ></span>
                    <span *ngIf="existe" [style.color]="'red'" class="ml-3"><i title = "Elige otro nombre de usuario"class="fa fa-info-circle" aria-hidden="true"></i></span>
                </div>
                <div class="input-group  mb-3 ml-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-key"></i></div>
                    </div>
                    <input type="password" class="form-control col-sm-6" placeholder="Contraseña" name="passusuario" required
                    [(ngModel)]="nuevoUser.pass"  #passusuario = "ngModel">
                    <span *ngIf="passusuario.touched && !passusuario.valid; then requerido"></span>
                </div>
                <div class="form-group">
                    <p for="usr">Fecha de nacimiento:</p>
                    <input type="date" name="fecha" id="fecha" placeholder="04-12-2020" required
                    [(ngModel)]="nuevoUser.fecha"  #fecha = "ngModel">
                    <span *ngIf="fecha.touched && !fecha.valid; then requerido"></span>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="radio1">
                        <input type="checkbox" class="form-check-input" id="radio1" name="optradio"
                            value="option1" checked>Recibir actualizaciones y ofertas
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="radio2">
                        <input type="checkbox" class="form-check-input" id="radio2" name="optradio"
                            value="option2" checked>Acepta terminos y condiciones
                    </label>
                </div>
                <br>
                <div class="text-right">
                    <button type="button" class="btn btn-primary" (click)="agregarUsuario()"[disabled]="!formRegistro.form.valid"><i class="fas fa-user-plus mr-1"></i>Registrarse</button>
                </div>
                
            </form>
        </div> 
    </div><br><br>
</div>

<ng-template #requerido>
    <span class="col-sm-1" [style.color]="'red'"><i title="Campo requerido" class="fa fa-info-circle" aria-hidden="true"></i></span>
</ng-template>


<Style>

    
[title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[title]:after {
    content: attr(title);
    background-color: #333;
    color: #fff;
    font-size: 14px;
    font-family: Raleway;
    position: absolute;
    padding: 3px 20px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
    
}
[title] {
    position: relative;
}
</Style>